@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h4>Add a new restaurant</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")
    <input type="submit" value="Add new restaurant" class="btn btn-default"/>
}
<p>@Html.ActionLink("Back to Restaurants", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>