@{
  Layout = "_Layout";
}

@using BestRestaurant.Models
@model BestRestaurant.Models.Restaurant

<h1>Restaurant Details</h1>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.Reviews.Count == 0)
{
  <p>No reviews found for this restaurant.</p>
}

<p class="btn btn-light">@Html.ActionLink("Add a Review", "Create", "Reviews", new { restaurantId = Model.RestaurantId })</p>
<div class="row">
@foreach (Review review in @Model.Reviews)
{
  <div class="review-item col-md-5" id="review-@review.ReviewId">
    <p class="review-header">@review.Author, on @review.TimeCreated:</p>
    @if(@review.Rating == 0)
    {
      <p>Rating: none</p>
    }
    else
    {
      <p>Rating: @review.Rating/5</p>
    }
    <p class="review-body">@review.Comment</p>
    <p>@Html.ActionLink("Edit", "Edit", "Reviews", new { id = review.ReviewId }) 
    @Html.ActionLink("Delete", "Delete", "Reviews", new { id = review.ReviewId })</p>
  </div>
}
</div>

<p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Back to Restaurant list", "Index")</p>
<p>@Html.ActionLink("Back to Cuisine Details", "Details", "Cuisines", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Back to Cuisine List", "Index", "Cuisines")</p>