@{
  Layout = "_Layout";
}

@using BestRestaurant.Models;
@model List<BestRestaurant.Models.Review>;

<h1>Reviews</h1>

@if (@Model.Count == 0)
{
  <h3>No reviews have been added yet!</h3>
} 

  @foreach (Review review in Model)
  {
    <h4>@Html.ActionLink($"{review.Author}, {review.Timestamp}", "Details", new { id = review.ReviewId }) | @review.Restaurant.Name</h4>
    <p>@review.Comment</p>
  }


<p>@Html.ActionLink("Add new Review", "Create")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>