<div id="footer">
  <p>@Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Show all cuisines", "Index", "Cuisines") | @Html.ActionLink("Show all restaurants", "Index", "Restaurants") | @Html.ActionLink("Add new cuisine", "Create", "Cuisines") | @Html.ActionLink("Add new restaurant", "Create", "Restaurants")</p>
  
  <p><a href="https://github.com/KristaRutz/best-restaurants">Best Restaurant Organizer</a>, created by Tiffany Siu and Krista Rutz, 2020</p>
</div>